<div class="container">
  <div class="row1 row">
    <h1>BURGER TIME.</h1>
  </div>
  <div class="row">
    <div class="jumbotron   col-xs-12 offset-md-1 col-md-5 offset-lg-1 col-lg-4 ">

      <h2>Desired Burgers</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>{{this.burger_name}}
          <button type="button" class="devoured btn btn-outline-success btn-sm" data-id="{{this.id}}">
            Devour it!
          </button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
      <form id="newBForm">
      <div  class="input-group mb-3">
        <input type="text" class="form-control" id="newb" placeholder="Add a new burger" aria-label="Add a new burger"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="newBB">Add</button>
        </div>
      </div></form>


    </div>
    <div class="jumbotron  col-xs-12 col-md-5 offset-lg-2 col-lg-4">
      <h2>Devoured Burgers</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{this.burger_name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>